<%= render 'layouts/dashboard_top'%>

<div class="dashboard-heading hidden-sm hidden-md hidden-lg">
  <h2> Add Customer </h2>
</div>
<div class="dashboard-heading-xs hidden-xs">
  <h2> Add Customer </h2>
</div>
<div class="col-sm-6">

<%= render 'form' %>

<%= link_to 'Cancel', customers_path %>
</div>
<div class="col-sm-6">
</div>
<%= render 'layouts/dashboard_bottom'%>