<% title("About") %>

<div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="">Our Team</h2>
            </div>
            <p>We want to make managing a small business easier. Collectively we're experienced in mobile, digital, online, lean startups, and have extensive corporate technology experience. The team is growing, drop us a line with your cv if you're interesting in joining the team.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <%= image_tag("Ben.jpeg", :alt => "frontpage", :size => "200x200", :class => "img-circle center-block img-responsive") %>
                <h3>Ben Hanna
                    <small>CEO</small>
                </h3>
                <p>Our founding CEO Ben has been in technology for over 15 years, he has previously launched a successful mobile design, consulting and development company.</p>
            </div>
            <div class="col-lg-4 col-sm-6">
                <%= image_tag("Duncan.jpeg", :alt => "frontpage", :size => "200x200", :class => "img-circle center-block img-responsive") %>
                <h3>Duncan Meyer
                    <small>COO</small>
                </h3>
                <p>Our CTO Joel has been running his own cloud consulting company for the last 2 years, before that he was notably the first Australian employee for Xero.</p>
            </div>
            <div class="col-lg-4 col-sm-6">
                <%= image_tag("Joel.jpeg", :alt => "frontpage", :size => "200x200", :class => "img-circle center-block img-responsive") %>
                <h3>Joel Hanna
                    <small>CTO</small>
                </h3>
                <p>Our COO Duncan has been helping Australia's best cloud companies deliver better services to their customers for over 10 years.</p>
            </div>
        </div>
      </div>
      <div class="container text-center">

  <p><a href="contacts"class="btn titlebuttons btn-success btn-lg" role="button">Give us feedback</a></p>        

</div>

