<% title("Features") %>

<div class="container text-center">
  <p><a href="contacts"class="btn titlebuttons btn-success btn-lg" role="button">Give us feedback</a></p>        
</div>

        <!-- /END THE FEATURETTES -->