<% title("Features") %>
<h1>Hooha Features</h1>
<h2>CRM built for salespeople</h2>
<p>We've designed Hooha from the ground up to achieve two things. Help small business people manage sales, be really mobile.</p>


<div class="container text-center">
  <p><a href="contacts"class="btn titlebuttons btn-success btn-lg" role="button">Give us feedback</a></p>        
</div>

        <!-- /END THE FEATURETTES -->