<% title("Free CRM for Small Business") %>

<%= image_tag("frontpage.jpg", :alt => "frontpage", :class => "home_image") %>
  
      <% if !user_signed_in? %>

      <div class="jumbotron home_page">
  <h1>Free Small Business CRM</h1>

  <p>We've just launched Hooha CRM, a simple, fast, and secure small business focused CRM. </p><p>Sign up now, and you'll get it free for ever.</p>  
      <p><%= link_to 'Free', new_user_registration_path(:plan => 'free'), :class => 'btn titlebuttons btn-warning btn-lg' %>
    </p><small class="text-center front-page-button">No credit card required</small></div>
      <% else %>
      <div class="jumbotron home_page ">
  <span class ="clearfix"><h1>Help us make Hooha better.</h1></span>
  <p>We hope you enjoy using Hooha CRM. We're always aiming to deliver the best experience possible, so customer feedback is really important to us.</p>  
      <p><a href="contacts"class="btn titlebuttons btn-primary btn-lg" role="button">Give us feedback</a></p>   </div>
<% end %>


