<% title("Home Page") %>

  
      <% if !user_signed_in? %>
        <div id="titlewrap" class="container">
          <h1>Welcome to Hooha</h1>
          <p>Manage better business</p>
          <p><a href="users/sign_in"class="btn titlebuttons btn-success btn-lg" role="button">Sign In</a> <a href="users/sign_up"class="btn titlebuttons btn-warning btn-lg" role="button">Sign Up</a></p>
        </div>
      <% else %>
      
<% end %>




