<% title("Home Page") %>

  
      <% if !user_signed_in? %>
        <div id="titlewrap" class="container">
          <h1>Welcome to Hooha</h1>
          <p>Manage better business</p>
          <p><a href="users/sign_in"class="btn titlebuttons btn-success btn-lg" role="button">Sign In</a> <a href="users/sign_up"class="btn titlebuttons btn-warning btn-lg" role="button">Sign Up</a></p>
        </div>
      <% else %>
      <div class="col-sm-6">
        <h1>Help us make Hooha better</h1>
        <h2>Heading One</h2>
        <p>Vice VHS single-origin coffee biodiesel 90's. 90's sustainable leggings artisan umami VHS. Banksy distillery 90's fixie, banjo sriracha Tonx Etsy authentic occupy cornhole butcher. Ethnic tousled gentrify, artisan raw denim drinking trade four loko art party meggings ennui, bitters hashtag deep v Banksy yr +1.
        </p>
        <h2>Heading Two</h2>
        <p>Truffaut scenester freegan, lomo fixie fap cliche fingerstache pour-over Marfa whatever. Messenger bag Pinterest selfies, viral small batch mumblecore Godard Schlitz Kickstarter. Austin mixtape master cleanse, Truffaut Helvetica twee single-origin coffee wayfarers ethnic aesthetic High Life. PBR Tumblr 8-bit tofu.</p>
        <h2>Heading Three</h2>
        <p>Vinyl retro fap pickled. Pop-up American Apparel bicycle rights small batch Vice Helvetica. McSweeney's roof party XOXO ugh, farm-to-table occupy kogi normcore butcher. Narwhal wolf gluten-free gentrify photo booth. Tousled organic selfies, Helvetica freegan messenger bag try-hard Thundercats tofu. Paleo.</p>
      </div>
    <div class="col-sm-6" id = "titlewrap">
    <h1>Give us feedback</h1>
    </div>
<% end %>




