<% title("How To") %>
<div class="row">
  <div class ="col-sm-12 white-txt">
  <h1>How to use Hooha</h1>
  <p>Hooha is a really simple CRM (Customer relationship management) designed for salespeople. But if you haven't used one before, it can still take a bit to get used to. Following is a simple explanation of how Hooha works, and what you can do to get the most out of using it.</p>

  <p>Hooha is a web based CRM tool. You can access Hooha through your web or mobile browser at <a href="http://hooha.com.au" target="_blank">www.hooha.com.au</a></p>
  </div>
  <div class ="col-sm-12">
    <h3>Main Features</h3>
  <p>Hooha helps you manage four main pieces of information that are important to any sales process.</p>
<div class ="col-md-3 col-sm-6 col-xs-12 text-left">
          <h4>Accounts</h4>
          <p>In Hooha, everything belongs to an account, they are the master entity, and you'll need to create them first. If your not selling to a business, use the contact name instead.</p>
</div>
<div class ="col-md-3 col-sm-6 col-xs-12 text-left">
          <h4>Contacts</h4>
          <p>Contacts aren't essential, however it is good sales practice to know who belongs to an account, and who is aligned to an opportunity.</p>
</div>
<div class ="col-md-3 col-sm-6 col-xs-12 text-left">
          <h4>Opportunities</h4>
          <p>The opportunity sits at the core of the sales process. Within the opportunity we track;</p> 
          <ul>
          <li>The Contacts (if applicable)</li>
          <li>The Amount</li>
          <li>The Stage - 'Lead, Appointment, Qualified, Presentation, Negotiation, Closed/Won, Closed/Lost, or Referral'</li>
          <li>The Stage - 'High, Medium, Low'</li>
          <li>The Closing Date</li>
          </ul>
</div>
<div class ="col-md-3 col-sm-6 col-xs-12 text-left">
          <h4>Tasks</h4>
          <p>The actions you need to take to make the sale.</p>

  </div>
</div>


<div class ="col-sm-6">

</div>
</div>
<% if !user_signed_in? %>
<div class="container text-center">
  <p><%= link_to 'Free Trial', new_user_registration_path(:plan => 'free'), :class => 'btn titlebuttons btn-warning btn-lg' %></p>        
</div>
<%end%>
