<div class="navbar navbar-inverse navbar-twitch" role="navigation">
  <div class="container">
    <div class="navbar-header">
    </div>
    <div class="">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">
            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Dashboard"> 
              <span class="glyphicon glyphicon-home"></span> 
            </span>
            <span class="full-nav"> Home </span>
          </a>
        </li>
        <li>
          <a href="#Capsule_CRM">
            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Capsule CRM"> 
              <span class="fa fa-users"></span> 
            </span>
            <span class="full-nav"> Capsule CRM </span>
          </a>
        </li>
        <li>
          <a href="#Xero_Finance">
            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Xero Finance"> 
              <span class="glyphicon glyphicon-euro"></span> 
            </span>
            <span class="full-nav"> Xero Finance </span>
          </a>
        </li>
        <li>
          <a href="#Shopify_Ecommerce">
            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Shopify Ecommerce"> 
              <span class="glyphicon glyphicon-shopping-cart"></span> 
            </span>
            <span class="full-nav"> Shopify Ecommerce </span>
          </a>
        </li>
        <br>
        <li>
          <a href="#Settings">
            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Settings"> 
              <span class="glyphicon glyphicon-cog"></span> 
            </span>
            <span class="full-nav"> Settings </span>
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<button type="button" class="btn btn-default btn-xs navbar-twitch-toggle">
  <span class="glyphicon glyphicon-chevron-right nav-open"></span>    
  <span class="glyphicon glyphicon-chevron-left nav-close"></span>
</button>

<div class="container list-container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
    <div class="" id="Capsule_CRM">
      <div class="list-heading">
        <strong>Capsule CRM</strong>
    </div>
      <ul class="list-group">
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>New task "Follow up John Doe" has been added</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has added item to cart</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
<li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "Jane Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>New task "Follow up Jane Doe" has been added</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "Jane Doe" has added item to cart</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "Jane Doe" has placed an order</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
      </ul>
    </div>

        <div class="" id="Xero_Finance">
      <div class="list-heading">
        <strong>Xero Finance</strong>
    </div>
      <ul class="list-group">
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Xero</small><br>
          <strong>Customer "Jane Doe" has been added</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Xero</small><br>
          <strong>Reciept ID#4563 has been processed</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Xero</small><br>
          <strong>Customer "John Doe" has been added</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Xero</small><br>
          <strong>Reciept ID#1235 has been processed</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Xero</small><br>
          <strong>Reciept ID#1232 has been processed</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Xero</small><br>
          <strong>Reciept ID#1233 has been processed</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Xero</small><br>
          <strong>Reciept ID#1234 has been processed</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
      </ul>
    </div>

        <div class="" id="Shopify_Ecommerce">
      <div class="list-heading" >
        <strong>Shopify Ecommerce</strong>
    </div>
      <ul class="list-group">
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Shopify</small><br>
          <strong>Customer John Doe has purchased order ID#1234</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Shopify</small><br>
          <strong>Order ID#9879 has changed </strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Shopify</small><br>
          <strong>Order ID#42543 has changed </strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Shopify</small><br>
          <strong>Product ID#9874 is out of stock</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Shopify</small><br>
          <strong>Order ID#4567 has been cancelled</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Shopify</small><br>
          <strong>Product ID#986 is out of stock</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Shopify</small><br>
          <strong>Order ID#4567 has been cancelled</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
      </ul>
    </div>
</div>
</div>
</div>