<div class="navbar navbar-inverse navbar-twitch" role="navigation">
  <div class="container">
    <div class="navbar-header">
    </div>
    <div class="">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">
            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Home"> 
              <span class="glyphicon glyphicon-home"></span> 
            </span>
            <span class="full-nav"> Home </span>
          </a>
        </li>
        <li>
          <a href="#about-us">
            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="About Us"> 
              <span class="fa fa-users"></span> 
            </span>
            <span class="full-nav"> About Us </span>
          </a>
        </li>
        <li>
          <a href="#contact-us">
            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Contact Us"> 
              <span class="glyphicon glyphicon-comment"></span> 
            </span>
            <span class="full-nav"> Contact Us </span>
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<button type="button" class="btn btn-default btn-xs navbar-twitch-toggle">
  <span class="glyphicon glyphicon-chevron-right nav-open"></span>    
  <span class="glyphicon glyphicon-chevron-left nav-close"></span>
</button>

<div class="container list-container">
    <div class="row">
    <div class="col-sm-4">
      <div class="list-heading">
        <strong>Capsule CRM</strong>
    </div>
      <ul class="list-group">
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
      </ul>
    </div>

        <div class="col-sm-4">
      <div class="list-heading">
        <strong>Shopify E-Commerce</strong>
    </div>
      <ul class="list-group">
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
      </ul>
    </div>

        <div class="col-sm-4">
      <div class="list-heading">
        <strong>Xero Finance</strong>
    </div>
      <ul class="list-group">
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
      </ul>
    </div>
</div>
</div>