<div class="container">
    <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <ul class="list-group">
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
        <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
                <li class="list-group-item">
          <small>11:43:00 AM 1/1/2011 by Capsule</small><br>
          <strong>Customer "John Doe" has signed up</strong>
          <span class="show-menu">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
          <ul class="list-group-submenu">
            <li class="list-group-submenu-item success"><span class="glyphicon glyphicon-remove"></span></li>
            <li class="list-group-submenu-item danger"><span class="glyphicon glyphicon-ok"></span></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>