<%= render 'layouts/dashboard_top'%>
<div class="dashboard-heading hidden-sm hidden-md hidden-lg">
  <h2>Add Opportunity</h2>
</div>
<div class="dashboard-heading-xs hidden-xs">
  <h2>Add Opportunity</h2>
</div>
<%= render 'form' %>
<%= render 'layouts/dashboard_bottom'%>