/*
 * Overwritten by RailsBricks
 *
 *= require_self
 */
@import "framework_and_overrides";

.dashboard-heading{
 margin-top:-85px;
 margin-left:55px;
}

.dashboard-heading-xs{
 margin-top:-85px;
 margin-left:10px;
}