// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard-heading{
 margin-top:-85px;
 margin-left:55px;
}

.dashboard-heading-xs{
 margin-top:-85px;
 margin-left:10px;
}