//***********************************************************
// BOOTSTRAP VARIABLES OVERRIDES

// Color system
$brand-primary: #428bca;
$brand-success: #f0ad4e;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

// Body scaffolding
$body-bg:#3498db ;
$text-color: #ffffff;
$link-color: #ffffff;
$link-hover-color: darken($link-color, 15%);

// Typography
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
$font-family-sans-serif: 'Open Sans', arial, sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: 'Menlo','Monaco','Consolas','Courier New', monospace;
$font-family-base: $font-family-sans-serif;
$font-size-base: 14px;

// Headings
$headings-font-family: $font-family-base;
$headings-font-weight: 700;
$headings-color: inherit;

// Code blocks
$code-color: #c7254e;
$code-bg: #f9f2f4;
$pre-color: #373737;
$pre-bg: #f5f5f5;
$pre-border-color: #cccccc;

// Components: Padding
$padding-base-vertical: 6px;
$padding-large-vertical: 10px;
$padding-small-vertical: 5px;
$padding-base-horizontal: 12px;
$padding-large-horizontal: 16px;
$padding-small-horizontal: 10px;

// Components: Rounded corners
$border-radius-base: 3px;
$border-radius-large: 3px;
$border-radius-small: 3px;

// Components: Active state
$component-active-color: #ffffff;
$component-active-bg: $brand-primary;

// Components: Carets
$caret-width-base: 4px;
$caret-width-large: 5px;

// Buttons: Global
$btn-font-weight: normal;
$btn-link-disabled-color: #cccccc;

// Buttons: Default
$btn-default-color: #ffffff;
$btn-default-bg: #bbbbbb;
$btn-default-border: #cccccc;

// Buttons: Primary
$btn-primary-color: $btn-default-color;
$btn-primary-bg: $brand-primary;
$btn-primary-border: darken($btn-primary-bg, 5%);

// Buttons: Info
$btn-info-color: $btn-default-color;
$btn-info-bg: $brand-info;
$btn-info-border: darken($btn-info-bg, 5%);

// Buttons: Warning
$btn-warning-color: $btn-default-color;
$btn-warning-bg: $brand-warning;
$btn-warning-border: darken($btn-warning-bg, 5%);

// Buttons: Danger
$btn-danger-color: $btn-default-color;
$btn-danger-bg: $brand-danger;
$btn-danger-border: darken($btn-danger-bg, 5%);

// Form states and alerts
$state-success-text: #468847; 
$state-success-bg: #dff0d8; 
$state-success-border: darken($state-success-bg, 5%); 

$state-warning-text: #c09853;
$state-warning-bg: #fcf8e3; 
$state-warning-border: darken($state-warning-bg, 3%);

$state-danger-text: #b94a48; 
$state-danger-bg: #f2dede; 
$state-danger-border: darken($state-danger-bg, 3%); 

$state-info-text: #ffffff; 
$state-info-bg: #f0ad4e; 
$state-info-border: darken($state-info-bg, 7%); 

// Alerts: Base styles
$alert-padding: 15px; 
$alert-border-radius: $border-radius-base; 
$alert-link-font-weight: bold; 

// Alerts: Warning
$alert-warning-text: $state-warning-text; 
$alert-warning-bg: $state-warning-bg; 
$alert-warning-border: $state-warning-border;

// Alerts: Success
$alert-success-text: $state-success-text; 
$alert-success-bg: $state-success-bg; 
$alert-success-border: $state-success-border;

// Alerts: Danger
$alert-danger-text: $state-danger-text; 
$alert-danger-bg: $state-danger-bg; 
$alert-danger-border: $state-danger-border;
 
//Alerts: Info
$alert-info-text: $state-info-text; 
$alert-info-bg: $state-info-bg; 
$alert-info-border: $state-info-border;

// Navbar: Base styles
$navbar-height: 50px; 
$navbar-margin-bottom: 4px; 
$navbar-padding-horizontal: 15px; 
$navbar-padding-vertical: 13px; 
$navbar-border-radius: 0px;

// Navbar: Default navbar
// -> Basics
$navbar-default-color: #ffffff; 
$navbar-default-bg: #ffffff; 
$navbar-default-border: darken($navbar-default-bg, 7%); 
// -> Links
$navbar-default-link-color: #777777; 
$navbar-default-link-hover-color: #333333; 
$navbar-default-link-hover-bg: $navbar-default-bg; 
$navbar-default-link-active-color: #555555; 
$navbar-default-link-active-bg: darken($navbar-default-bg, 7%); 
$navbar-default-link-disabled-color: #cccccc; 
$navbar-default-link-disabled-bg:$navbar-default-bg; 
// -> Brand
$navbar-default-brand-color: $navbar-default-link-color; 
$navbar-default-brand-hover-color: darken($navbar-default-brand-color, 10%); 
$navbar-default-brand-hover-bg: $navbar-default-bg; 
// -> Toggle
$navbar-default-toggle-hover-bg: #dddddd; 
$navbar-default-toggle-icon-bar-bg: #cccccc; 
$navbar-default-toggle-border-color: #dddddd;

// Navbar: Inverted navbar
// -> Basics
$navbar-inverse-color: #eeeeee; 
$navbar-inverse-bg: #3498db; 
$navbar-inverse-border: darken($navbar-inverse-bg, 7%); 
// -> Links
$navbar-inverse-link-color: #eeeeee; 
$navbar-inverse-link-hover-color: #ffffff; 
$navbar-inverse-link-hover-bg: $navbar-inverse-bg; 
$navbar-inverse-link-active-color: #ffffff; 
$navbar-inverse-link-active-bg: darken($navbar-inverse-bg, 7%); 
$navbar-inverse-link-disabled-color: #444444; 
$navbar-inverse-link-disabled-bg:$navbar-inverse-bg; 
// -> Brand
$navbar-inverse-brand-color: $navbar-inverse-link-color; 
$navbar-inverse-brand-hover-color: #ffffff; 

// -> Toggle
$navbar-inverse-toggle-hover-bg: #333333; 
$navbar-inverse-toggle-icon-bar-bg: #ffffff; 
$navbar-inverse-toggle-border-color: #3498db;

// Nav: Default nav
// -> Common values
$nav-link-padding: 10px 15px; 
$nav-link-hover-bg: #eeeeee; 
$nav-disabled-link-color: #cccccc; 
$nav-disabled-link-hover-color: #cccccc; 
$nav-open-link-hover-color: #ffffff; 
$nav-open-caret-border-color: #ffffff; 
// -> Pills
$nav-pills-active-link-hover-color: #ffffff; 
$nav-pills-active-link-hover-bg: $component-active-bg; 
// -> Tabs
$nav-tabs-border-color: #dddddd; 
$nav-tabs-link-hover-border-color: #eeeeee; 
$nav-tabs-active-link-hover-color: #bbbbbb; 
$nav-tabs-active-link-hover-bg: $body-bg; 
$nav-tabs-active-link-hover-border-color: #dddddd; 
$nav-tabs-justified-link-border-color: #dddddd; 
$nav-tabs-justified-active-link-border-color: $body-bg;

// Tables
// -> Default padding for <th>s and <td>s
$table-cell-padding: 8px; 
// -> Default padding cells in .table-condensed
$table-condensed-cell-padding: 5px;
// -> Default background color used for all tables.
$table-bg: $body-bg; 
// -> Background color used for .table-striped.
$table-bg-accent: #f9f9f9; 
// -> Background color used for .table-hover.
$table-bg-hover: #f5f5f5; 
// -> Border color for table and cell borders.
$table-border-color: #dddddd; 

// Forms
// -> Inputs
$input-color: black; // Text color for <input>s
$input-bg: #ffffff; // <input> background color
$input-border: #cccccc; // <input> border color
$input-border-radius: $border-radius-base; // <input> border radius
$input-color-placeholder: #eeeeee; // Placeholder text color
// -> Input states
$input-border-focus: #66afe9; // Border color for inputs on focus
$input-bg-disabled: #dddddd; // <input disabled> background color
// -> Input sizes
$input-height-base: 38px; // Default .form-control height
$input-height-large: 46px; // Large .form-control height
$input-height-small: 28px; // Small .form-control height

// -> Legend
$legend-color: #aaaaaa; 
$legend-border-color: #e5e5e5;
// -> Input groups
$input-group-addon-bg: #cccccc; // Background color for textual input addons
$input-group-addon-border-color: $input-border; // Border color for textual input addons

// Dropdowns
// -> Dropdown menu
$dropdown-bg: #ffffff; // Dropdown menu background color
$dropdown-border: #373737; // Dropdown menu border color
$dropdown-fallback-border: #cccccc; // Dropdown menu border color for IE8
$dropdown-caret-color: #dddddd; // Indicator arrow for showing an element has a dropdown 
$dropdown-divider-bg: #e5e5e5; // Dropdown divider top border color
$dropdown-header-color: #dddddd; // Text color for headers within dropdown menus
// -> Dropdown items
$dropdown-link-color: $text-color; // Dropdown text color 
$dropdown-link-hover-color: darken($dropdown-link-color,5%); // Hovered dropdown menu entry text color 
$dropdown-link-hover-bg: #f5f5f5; // Hovered dropdown menu entry text color
$dropdown-link-active-color: $component-active-color; // Active dropdown menu entry text color 
$dropdown-link-active-bg: $component-active-bg; // Active dropdown menu entry background color
$dropdown-link-disabled-color: #dddddd; // Disabled dropdown menu entry background color

// Panels and wells
// -> Common panel styles
$panel-bg: #ffffff; 
$panel-inner-border: #dddddd; // Border color for elements within panels 
$panel-border-radius: $border-radius-base; 
$panel-footer-bg: #f5f5f5; 
// -> Contextual panel colors
// --> Default
$panel-default-text: #373737; 
$panel-default-border: #dddddd; 
$panel-default-heading-bg: #f5f5f5; 
// --> Primary
$panel-primary-text: #ffffff; 
$panel-primary-border: $brand-primary; 
$panel-primary-heading-bg: $brand-primary; 
// --> Success
$panel-success-text: $state-success-text; 
$panel-success-border: $state-success-border; 
$panel-success-heading-bg: $state-success-bg; 
// --> Info
$panel-info-text: $state-info-text; 
$panel-info-border: $state-info-border; 
$panel-info-heading-bg: $state-info-bg; 
// --> Warning
$panel-warning-text: $state-warning-text; 
$panel-warning-border: $state-warning-border; 
$panel-warning-heading-bg: $state-warning-bg; 
// --> Danger
$panel-danger-text: $state-danger-text; 
$panel-danger-border: $state-danger-border; 
$panel-danger-heading-bg: $state-danger-bg; 
// -> Wells
$well-bg: #f5f5f5;

// Jumbotron
$jumbotron-padding: 30px; 
$jumbotron-bg: #cccccc; 
$jumbotron-font-size: ceil($font-size-base * 1.5); 
$jumbotron-color: $text-color; 
$jumbotron-heading-color: $headings-color;

// Carousel
$carousel-text-shadow: 0px 1px 2px #373737; 
$carousel-control-color: #ffffff; 
$carousel-caption-color: #ffffff; 
$carousel-indicator-border-color: #ffffff; 
$carousel-indicator-active-bg: #ffffff;

// Labels
$label-color: #ffffff; // Default label text color
$label-link-hover-color: #ffffff; // Default text color of a linked label
$label-default-bg: #cccccc; // Default label background color
$label-primary-bg: $brand-primary; // Primary label background color
$label-success-bg: $brand-success; // Success label background color
$label-info-bg: $brand-info; // Info label background color
$label-warning-bg: $brand-warning; // Warning label background color
$label-danger-bg: $brand-danger; // Danger label background color

// Close button
$close-font-weight: bold; 
$close-color: #000000; 
$close-text-shadow: 0px 1px 0px #ffffff; 

// Type
$text-muted: #cccccc; // Text muted color
$abbr-border-color: #cccccc; // Abbreviations and acronyms border color
$headings-small-color: #cccccc; // Headings small color
$blockquote-small-color: #cccccc; // Blockquote small color
$blockquote-border-color: #eeeeee; // Blockquote border color
$page-header-border-color: #eeeeee; // Page header border color

// Other
$hr-border: #cccccc; // Horizontal line color
$component-offset-horizontal: 180px; // Horizontal offset for forms and lists

//***********************************************************

@import "bootstrap";
@import "font-awesome";

//***********************************************************
// TESTING CLASSES
.shigh{
  background-color: yellow;
}
.shigh2{
  background-color: red;
}
.shigh3{
  background-color: blue;
}
//***********************************************************

//***********************************************************
// APPLICATION-WIDE
html,body{
  height: 100%;
}

#wrap{
  min-height: 100%;
  padding-bottom: 120px;
}

img{
  @extend .img-responsive;
}
//***********************************************************

//***********************************************************
// FLASH MESSAGES
.alert{
  margin-top: -4px;
}
//***********************************************************

//***********************************************************
// NAVBAR
.navbar-brand {
  background-color:transparent;
  font-size: inherit;      
}
//***********************************************************

//***********************************************************
// ERRORS
#error_explanation{
  color: $brand-danger;
  ul{
    margin-left: 8px;
    padding-left: 8px;
  }
  
  h2{
    display:none;
  }
}

.error-text{
  color: $brand-danger;
}

.field_with_errors{
  .form-control{
    border: 1px solid $brand-danger;
  }
  label{
    color: $brand-danger;
  }
}
//***********************************************************

//***********************************************************
// DEVISE 
.shared-links{
  margin-top: 10px;
}
//***********************************************************

//***********************************************************
// FOOTER
#footer{
  color: $navbar-inverse-color;
  height: 100px;
  margin-top: -100px;  
  letter-spacing: 1px;
  
  .footer-first-row{
    padding-top: 20px;
  }
}
//***********************************************************
//***********************************************************
// NAVBAR - Add fixed navbar padding
body { padding-top: 70px;
}

.stream_brand{
  width: 75px;
  height: 75px;
  margin: 2px;
  background-color: grey;
  float: none ;
}

.modal{
  z-index:1070;
}

#titlewrap{
margin-left:0px;
margin-right:0px;
text-align:center;
color:white;
}

.titlebuttons{ 
  max-width: 350px;
  min-width: 250px;
  margin:2px;
  margin-bottom:-20px;
}

.home_image{
  z-index: -300;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  home_image {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


.home_page{
  margin-top:86px;
}



.jumbotron{
 background-color: rgba(0, 0, 0, 0.6); // black with opacity 0.1
}


/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-family: 'fontawesome';
  src:url('../fonts/fontawesome.eot');
  src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontawesome.svg#fontawesome') format('svg'),
    url('../fonts/fontawesome.woff') format('woff'),
    url('../fonts/fontawesome.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }


a {
  color: #f0f0f0;
  text-decoration: none;
}

a:hover {
  color: #000;
}

.main,
.container > header {
  width: 95%;
  max-width: 69em;
  margin: 0 auto;
  padding: 0 1.875em 3.125em;
}

.container > header {
  padding: 2.875em 1.875em 1.875em;
}

.container > header h1 {
  font-size: 2.125em;
  line-height: 1.3;
  margin: 0;
  float: left;
  font-weight: 400;
}

.container > header span {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding: 0 0 0.6em 0.1em;
}

.container > header nav {
  float: right;
}

.container > header nav a {
  display: block;
  float: left;
  position: relative;
  width: 2.5em;
  height: 2.5em;
  background: #fff;
  border-radius: 50%;
  color: transparent;
  margin: 0 0.1em;
  border: 4px solid #47a3da;
  text-indent: -8000px;
}

.container > header nav a:after {
  content: attr(data-info);
  color: #47a3da;
  position: absolute;
  width: 600%;
  top: 120%;
  text-align: right;
  right: 0;
  opacity: 0;
  pointer-events: none;
}

.container > header nav a:hover:after {
  opacity: 1;
}

.container > header nav a:hover {
  
}

.icon-drop:before, 
.icon-arrow-left:before {
  font-family: 'fontawesome';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
  text-align: center;
  color: #47a3da;
  -webkit-font-smoothing: antialiased;
  text-indent: 8000px;
  padding-left: 8px;
}

.container > header nav a:hover:before {
  color: #fff;
}

.icon-drop:before {
  content: "\e000";
}

.icon-arrow-left:before {
  content: "\f060";
}

@font-face {
  font-family: 'ecoico';
  src:url('../fonts/timelineicons/ecoico.eot');
  src:url('../fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'),
    url('../fonts/timelineicons/ecoico.woff') format('woff'),
    url('../fonts/timelineicons/ecoico.ttf') format('truetype'),
    url('../fonts/timelineicons/ecoico.svg#ecoico') format('svg');
  font-weight: normal;
  font-style: normal;
} /* Made with http://icomoon.io/ */

.cbp_tmtimeline {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
} 

/* The line */
.cbp_tmtimeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #afdcf8;
  left: 20%;
  margin-left: -10px;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
  display: block;
  text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
  font-size: 0.9em;
  
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
  font-size: 2.9em;
  
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
  
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
  margin: 0 0 15px 25%;
  background: #3594cb;
  color: #fff;
  padding: 2em;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  border-radius: 5px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
  background: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 { 
  margin-top: 0px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #3594cb;
  border-width: 10px;
  top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
  border-right-color: #6cbfee;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
  width: 40px;
  height: 40px;
  font-family: 'ecoico';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #fff;
  background: #46a4da;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #afdcf8;
  text-align: center;
  left: 20%;
  top: 0;
  margin: 0 0 0 -25px;
}

.cbp_tmicon-phone:before {
  content: "\e000";
}

.cbp_tmicon-screen:before {
  content: "\e001";
}

.cbp_tmicon-mail:before {
  content: "\e002";
}

.cbp_tmicon-earth:before {
  content: "\e003";
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 47.2em) {
  .cbp_tmtimeline:before {
    display: none;
  }

  .cbp_tmtimeline > li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }

  .cbp_tmtimeline > li .cbp_tmtime span {
    text-align: left;
  }

  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 30px 0;
    padding: 1em;
    font-weight: 400;
    font-size: 95%;
  }

  .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: auto;
    left: 20px;
    border-right-color: transparent;
    border-bottom-color: #3594cb;
    top: -20px;
  }

  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: transparent;
    border-bottom-color: #6cbfee;
  }

  .cbp_tmtimeline > li .cbp_tmicon {
    position: relative;
    float: right;
    left: auto;
    margin: -55px 5px 0 0px;
  } 
}

.dropdown-menu{
  background-color:#379adc;
  border-color:#379adc;
}

.dropdown-menu li a:hover{
  background-color:#379adc;
}

.col-centered{
margin: 0 auto;
}

.plans{
  text-align: center;
  color: black;
}
.featured{
  -webkit-transform:scale(1.15);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
  color: black;
}
.plan{
  background-color: #111575;
  color: black;
}
.plan.featured-plan{
  background-color: #CCAB00;
  color: black;
}
.plan h2{
  line-height: 100px;
  color: black;
}



#platinum { 
  background-color:#7f8c8d;
  color: white;
  border-color: #7f8c8d;
}

#gold { 
  background-color:#f1c40f;
  color: white;
  border-color: #f1c40f;
}

#silver { 
  background-color:#bdc3c7;
  color: white;
  border-color: #bdc3c7;
}


.hooha-brand{
  position:fixed;
  height: 70px;
  width: auto;
  margin-top:-12px;
  z-index:100;
}

.hooha-brand:hover{
  background-color:white;
  
}

.front-page-button{
  margin-left:30px;
}


.free-trial {
  margin-bottom:10px;
}

select {
  width: 100px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  font-size:15px;
}

.cvv-group{
  float:left;
}

.cvv{
  width:70px;
}

.form-group{
  margin-top:0;
  margin-bottom:0;
  margin-left:20px;
  margin-right:20px;
  max-width:350px;
  min-width:250px;
  display:block;
}

.select{
  float:right;
}

.submit-button {
  margin-top:10px;
}

.centered{
  
  text-align:center;
}

.list-group-item{
  border-color:white;
}

.city{
  width:50%;
  float:left;

}

.state{
  width:50%;
  float:left;
}

.country{
  width:100%;
  float:left;
}

.form-control{
  background-color:white;
}

.panel-footer{
  background-color:white;
  border-color:white;
}

.panel-silver{
  border-color:#bdc3c7;
  border-width:2px;
  border-style:solid;

}

.panel-gold{
  border-color:#f1c40f;
  border-width:2px;
  border-style:solid;

}

.panel-platinum{
  border-color:#7f8c8d;
  border-width:2px;
  border-style:solid;
}

.button-silver{
  border-color:#bdc3c7;
  border-width:1px;
  border-style:solid;
  background-color:#bdc3c7;
}

.button-gold{
  border-color:#f1c40f;
  border-width:1px;
  border-style:solid;
  background-color:#f1c40f;
}

.button-platinum{
  border-color:#7f8c8d;
  border-width:1px;
  
  background-color:#7f8c8d;
}
.button-platinum:hover{
  background-color:#95a5a6;
}

.select-height{
  height:30px;
}


// Sidebar CSS


#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
  margin-top:-20px;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  border-right: solid 1px #2980b9; 
  margin-top:-22px;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;

}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: white;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {
#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}
}

#sidebar-wrapper{
  background-color:#3498db;
  color:white;
  z-index:100;
}

.dashboard-heading{
 margin-top:-105px;
 margin-left:55px;
}

.dashboard-heading-xs{
 margin-top:-125px;
 margin-left:10px;
}

.dash-btn{
text-align:left;

}

.list-black a{
  color:black;
}

.list-black {
  color:black;
}

.add-btn {
 width:100px;
 margin-left:50px;
 margin-top:10px;
}

.list-settings-group{
width:120px;
position:relative;
z-index:100;
right:-170px;
top:-210px;
}

.list-setting a{

}

.list-setting {
list-style: none;
width:80px;
margin:2px;
}

.list-wrapper{
  width:100%;
  margin-left:-5px;
  margin-right:-5px;
}

.account-owner{
  
  position:absolute;
}
.glyphicon{
}

hr{
  background-color:#2980b9;
color:#2980b9;
}

.date-select{
  width:100%;
}

.select{
  float:none;
}

#customer_account_id{
  width:100%;
    display: block;
  width: 100%;
  height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  vertical-align: middle;
  background-color: $input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus();

  // Placeholder
  //
  // Placeholder text gets special styles because when browsers invalidate entire
  // lines if it doesn't understand a selector/
  @include placeholder();

  // Disabled and read-only inputs
  // Note: HTML5 says that controls under a fieldset > legend:first-child won't
  // be disabled if the fieldset is disabled. Due to implementation difficulty,
  // we don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    background-color: $input-bg-disabled;}
}

#opportunity_account_id{

  width:100%;
    display: block;
  width: 100%;
  height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  vertical-align: middle;
  background-color: $input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus();
}
#opportunity_customer_ids{
  width:100%;
    display: block;
  width: 100%;
  height: $input-height-base 100%; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  vertical-align: middle;
  background-color: $input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus();

  // Placeholder
  //
  // Placeholder text gets special styles because when browsers invalidate entire
  // lines if it doesn't understand a selector/
  @include placeholder();

  // Disabled and read-only inputs
  // Note: HTML5 says that controls under a fieldset > legend:first-child won't
  // be disabled if the fieldset is disabled. Due to implementation difficulty,
  // we don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    background-color: $input-bg-disabled;}
}
#task_opportunity_id{

  width:100%;
    display: block;
  width: 100%;
  height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  vertical-align: middle;
  background-color: $input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus();
  // Placeholder
  //
  // Placeholder text gets special styles because when browsers invalidate entire
  // lines if it doesn't understand a selector/
  @include placeholder();

  // Disabled and read-only inputs
  // Note: HTML5 says that controls under a fieldset > legend:first-child won't
  // be disabled if the fieldset is disabled. Due to implementation difficulty,
  // we don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    background-color: $input-bg-disabled;}
}


.black-text{
  color:black
}

#white-txt{
  color:white;
}

.white-txt a {
  color:white;
}

.white-bg{
  background-color:white;
}

.white-txt p {
  color:white;
}

table.tablesorter thead {
  cursor: pointer;
}

table.tablesorter thead tr th:hover {
  background-color: #f5f5f5;
}

a {
  color:black;
}

.white-table{
  background-color:white;
  color:black;
}

.task{
  min-height:100px;
  border-top: solid 1px #bdc3c7;
  background-color:white;
}

.task-btn{
  float:right;
  margin-top:-50px;
}

.task-info{
  padding-bottom:20px;
}

.account-panel{
  border:solid 1px grey;
  margin-top:10px;
}

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 8px;
  line-height: 28px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
  color:black;
}
 
.pagination {
  border-left: 1px solid #ddd;
  .first{
    padding : 0;
    float: none;
    border: none;
  }
  .prev {
    padding : 0;
    float: none;
    border: none;
  }
  .page{
    padding : 0;
    float: none;
    border: none;
  }
  .next{
    padding : 0;
    float: none;
    border: none;
  }
  .last{
    padding : 0;
    float: none;
    border: none;
  }
}

.hooha-image{
padding-left:20%;
padding-right:20%;
}

#pagination{
  padding-left:18px;
}

.center{
  margin-left:0px;
  margin-right:0px;
}

.opportunity_list{
  margin-top:10px;
}

.delete_btn{
  margin-left:3px;
}

.dash-panel{
  height:411px;
}