//***********************************************************
// BOOTSTRAP VARIABLES OVERRIDES

// Color system
$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

// Body scaffolding
$body-bg:#3498db ;
$text-color: #ffffff;
$link-color: #ffffff;
$link-hover-color: darken($link-color, 15%);

// Typography
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
$font-family-sans-serif: 'Open Sans', arial, sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: 'Menlo','Monaco','Consolas','Courier New', monospace;
$font-family-base: $font-family-sans-serif;
$font-size-base: 14px;

// Headings
$headings-font-family: $font-family-base;
$headings-font-weight: 700;
$headings-color: inherit;

// Code blocks
$code-color: #c7254e;
$code-bg: #f9f2f4;
$pre-color: #373737;
$pre-bg: #f5f5f5;
$pre-border-color: #cccccc;

// Components: Padding
$padding-base-vertical: 6px;
$padding-large-vertical: 10px;
$padding-small-vertical: 5px;
$padding-base-horizontal: 12px;
$padding-large-horizontal: 16px;
$padding-small-horizontal: 10px;

// Components: Rounded corners
$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

// Components: Active state
$component-active-color: #ffffff;
$component-active-bg: $brand-primary;

// Components: Carets
$caret-width-base: 4px;
$caret-width-large: 5px;

// Buttons: Global
$btn-font-weight: normal;
$btn-link-disabled-color: #cccccc;

// Buttons: Default
$btn-default-color: #ffffff;
$btn-default-bg: #bbbbbb;
$btn-default-border: #cccccc;

// Buttons: Primary
$btn-primary-color: $btn-default-color;
$btn-primary-bg: $brand-primary;
$btn-primary-border: darken($btn-primary-bg, 5%);

// Buttons: Info
$btn-info-color: $btn-default-color;
$btn-info-bg: $brand-info;
$btn-info-border: darken($btn-info-bg, 5%);

// Buttons: Warning
$btn-warning-color: $btn-default-color;
$btn-warning-bg: $brand-warning;
$btn-warning-border: darken($btn-warning-bg, 5%);

// Buttons: Danger
$btn-danger-color: $btn-default-color;
$btn-danger-bg: $brand-danger;
$btn-danger-border: darken($btn-danger-bg, 5%);

// Form states and alerts
$state-success-text: #468847; 
$state-success-bg: #dff0d8; 
$state-success-border: darken($state-success-bg, 5%); 

$state-warning-text: #c09853;
$state-warning-bg: #fcf8e3; 
$state-warning-border: darken($state-warning-bg, 3%);

$state-danger-text: #b94a48; 
$state-danger-bg: #f2dede; 
$state-danger-border: darken($state-danger-bg, 3%); 

$state-info-text: #3a87ad; 
$state-info-bg: #d9edf7; 
$state-info-border: darken($state-info-bg, 7%); 

// Alerts: Base styles
$alert-padding: 15px; 
$alert-border-radius: $border-radius-base; 
$alert-link-font-weight: bold; 

// Alerts: Warning
$alert-warning-text: $state-warning-text; 
$alert-warning-bg: $state-warning-bg; 
$alert-warning-border: $state-warning-border;

// Alerts: Success
$alert-success-text: $state-success-text; 
$alert-success-bg: $state-success-bg; 
$alert-success-border: $state-success-border;

// Alerts: Danger
$alert-danger-text: $state-danger-text; 
$alert-danger-bg: $state-danger-bg; 
$alert-danger-border: $state-danger-border;
 
//Alerts: Info
$alert-info-text: $state-info-text; 
$alert-info-bg: $state-info-bg; 
$alert-info-border: $state-info-border;

// Navbar: Base styles
$navbar-height: 50px; 
$navbar-margin-bottom: 4px; 
$navbar-padding-horizontal: 15px; 
$navbar-padding-vertical: 13px; 
$navbar-border-radius: 0px;

// Navbar: Default navbar
// -> Basics
$navbar-default-color: #ffffff; 
$navbar-default-bg: #ffffff; 
$navbar-default-border: darken($navbar-default-bg, 7%); 
// -> Links
$navbar-default-link-color: #777777; 
$navbar-default-link-hover-color: #333333; 
$navbar-default-link-hover-bg: $navbar-default-bg; 
$navbar-default-link-active-color: #555555; 
$navbar-default-link-active-bg: darken($navbar-default-bg, 7%); 
$navbar-default-link-disabled-color: #cccccc; 
$navbar-default-link-disabled-bg:$navbar-default-bg; 
// -> Brand
$navbar-default-brand-color: $navbar-default-link-color; 
$navbar-default-brand-hover-color: darken($navbar-default-brand-color, 10%); 
$navbar-default-brand-hover-bg: $navbar-default-bg; 
// -> Toggle
$navbar-default-toggle-hover-bg: #dddddd; 
$navbar-default-toggle-icon-bar-bg: #cccccc; 
$navbar-default-toggle-border-color: #dddddd;

// Navbar: Inverted navbar
// -> Basics
$navbar-inverse-color: #eeeeee; 
$navbar-inverse-bg: #3498db; 
$navbar-inverse-border: darken($navbar-inverse-bg, 7%); 
// -> Links
$navbar-inverse-link-color: #eeeeee; 
$navbar-inverse-link-hover-color: #ffffff; 
$navbar-inverse-link-hover-bg: $navbar-inverse-bg; 
$navbar-inverse-link-active-color: #ffffff; 
$navbar-inverse-link-active-bg: darken($navbar-inverse-bg, 7%); 
$navbar-inverse-link-disabled-color: #444444; 
$navbar-inverse-link-disabled-bg:$navbar-inverse-bg; 
// -> Brand
$navbar-inverse-brand-color: $navbar-inverse-link-color; 
$navbar-inverse-brand-hover-color: #ffffff; 
$navbar-inverse-brand-hover-bg: $navbar-inverse-bg; 
// -> Toggle
$navbar-inverse-toggle-hover-bg: #333333; 
$navbar-inverse-toggle-icon-bar-bg: #ffffff; 
$navbar-inverse-toggle-border-color: #3498db;

// Nav: Default nav
// -> Common values
$nav-link-padding: 10px 15px; 
$nav-link-hover-bg: #eeeeee; 
$nav-disabled-link-color: #cccccc; 
$nav-disabled-link-hover-color: #cccccc; 
$nav-open-link-hover-color: #ffffff; 
$nav-open-caret-border-color: #ffffff; 
// -> Pills
$nav-pills-active-link-hover-color: #ffffff; 
$nav-pills-active-link-hover-bg: $component-active-bg; 
// -> Tabs
$nav-tabs-border-color: #dddddd; 
$nav-tabs-link-hover-border-color: #eeeeee; 
$nav-tabs-active-link-hover-color: #bbbbbb; 
$nav-tabs-active-link-hover-bg: $body-bg; 
$nav-tabs-active-link-hover-border-color: #dddddd; 
$nav-tabs-justified-link-border-color: #dddddd; 
$nav-tabs-justified-active-link-border-color: $body-bg;

// Tables
// -> Default padding for <th>s and <td>s
$table-cell-padding: 8px; 
// -> Default padding cells in .table-condensed
$table-condensed-cell-padding: 5px;
// -> Default background color used for all tables.
$table-bg: $body-bg; 
// -> Background color used for .table-striped.
$table-bg-accent: #f9f9f9; 
// -> Background color used for .table-hover.
$table-bg-hover: #f5f5f5; 
// -> Border color for table and cell borders.
$table-border-color: #dddddd; 

// Forms
// -> Inputs
$input-color: black; // Text color for <input>s
$input-bg: #ffffff; // <input> background color
$input-border: #cccccc; // <input> border color
$input-border-radius: $border-radius-base; // <input> border radius
$input-color-placeholder: #eeeeee; // Placeholder text color
// -> Input states
$input-border-focus: #66afe9; // Border color for inputs on focus
$input-bg-disabled: #dddddd; // <input disabled> background color
// -> Input sizes
$input-height-base: 38px; // Default .form-control height
$input-height-large: 46px; // Large .form-control height
$input-height-small: 28px; // Small .form-control height

// -> Legend
$legend-color: #aaaaaa; 
$legend-border-color: #e5e5e5;
// -> Input groups
$input-group-addon-bg: #cccccc; // Background color for textual input addons
$input-group-addon-border-color: $input-border; // Border color for textual input addons

// Dropdowns
// -> Dropdown menu
$dropdown-bg: #ffffff; // Dropdown menu background color
$dropdown-border: #373737; // Dropdown menu border color
$dropdown-fallback-border: #cccccc; // Dropdown menu border color for IE8
$dropdown-caret-color: #dddddd; // Indicator arrow for showing an element has a dropdown 
$dropdown-divider-bg: #e5e5e5; // Dropdown divider top border color
$dropdown-header-color: #dddddd; // Text color for headers within dropdown menus
// -> Dropdown items
$dropdown-link-color: $text-color; // Dropdown text color 
$dropdown-link-hover-color: darken($dropdown-link-color,5%); // Hovered dropdown menu entry text color 
$dropdown-link-hover-bg: #f5f5f5; // Hovered dropdown menu entry text color
$dropdown-link-active-color: $component-active-color; // Active dropdown menu entry text color 
$dropdown-link-active-bg: $component-active-bg; // Active dropdown menu entry background color
$dropdown-link-disabled-color: #dddddd; // Disabled dropdown menu entry background color

// Panels and wells
// -> Common panel styles
$panel-bg: #ffffff; 
$panel-inner-border: #dddddd; // Border color for elements within panels 
$panel-border-radius: $border-radius-base; 
$panel-footer-bg: #f5f5f5; 
// -> Contextual panel colors
// --> Default
$panel-default-text: #373737; 
$panel-default-border: #dddddd; 
$panel-default-heading-bg: #f5f5f5; 
// --> Primary
$panel-primary-text: #ffffff; 
$panel-primary-border: $brand-primary; 
$panel-primary-heading-bg: $brand-primary; 
// --> Success
$panel-success-text: $state-success-text; 
$panel-success-border: $state-success-border; 
$panel-success-heading-bg: $state-success-bg; 
// --> Info
$panel-info-text: $state-info-text; 
$panel-info-border: $state-info-border; 
$panel-info-heading-bg: $state-info-bg; 
// --> Warning
$panel-warning-text: $state-warning-text; 
$panel-warning-border: $state-warning-border; 
$panel-warning-heading-bg: $state-warning-bg; 
// --> Danger
$panel-danger-text: $state-danger-text; 
$panel-danger-border: $state-danger-border; 
$panel-danger-heading-bg: $state-danger-bg; 
// -> Wells
$well-bg: #f5f5f5;

// Jumbotron
$jumbotron-padding: 30px; 
$jumbotron-bg: #cccccc; 
$jumbotron-font-size: ceil($font-size-base * 1.5); 
$jumbotron-color: $text-color; 
$jumbotron-heading-color: $headings-color;

// Carousel
$carousel-text-shadow: 0px 1px 2px #373737; 
$carousel-control-color: #ffffff; 
$carousel-caption-color: #ffffff; 
$carousel-indicator-border-color: #ffffff; 
$carousel-indicator-active-bg: #ffffff;

// Labels
$label-color: #ffffff; // Default label text color
$label-link-hover-color: #ffffff; // Default text color of a linked label
$label-default-bg: #cccccc; // Default label background color
$label-primary-bg: $brand-primary; // Primary label background color
$label-success-bg: $brand-success; // Success label background color
$label-info-bg: $brand-info; // Info label background color
$label-warning-bg: $brand-warning; // Warning label background color
$label-danger-bg: $brand-danger; // Danger label background color

// Close button
$close-font-weight: bold; 
$close-color: #000000; 
$close-text-shadow: 0px 1px 0px #ffffff; 

// Type
$text-muted: #cccccc; // Text muted color
$abbr-border-color: #cccccc; // Abbreviations and acronyms border color
$headings-small-color: #cccccc; // Headings small color
$blockquote-small-color: #cccccc; // Blockquote small color
$blockquote-border-color: #eeeeee; // Blockquote border color
$page-header-border-color: #eeeeee; // Page header border color

// Other
$hr-border: #cccccc; // Horizontal line color
$component-offset-horizontal: 180px; // Horizontal offset for forms and lists

//***********************************************************

@import "bootstrap";
@import "font-awesome";

//***********************************************************
// TESTING CLASSES
.shigh{
  background-color: yellow;
}
.shigh2{
  background-color: red;
}
.shigh3{
  background-color: blue;
}
//***********************************************************

//***********************************************************
// APPLICATION-WIDE
html,body{
  height: 100%;
}

#wrap{
  min-height: 100%;
  padding-bottom: 120px;
}

img{
  @extend .img-responsive;
}
//***********************************************************

//***********************************************************
// FLASH MESSAGES
.alert{
  margin-top: -4px;
}
//***********************************************************

//***********************************************************
// NAVBAR
.navbar-brand {
  font-size: inherit;      
}
//***********************************************************

//***********************************************************
// ERRORS
#error_explanation{
  color: $brand-danger;
  ul{
    margin-left: 8px;
    padding-left: 8px;
  }
  
  h2{
    display:none;
  }
}

.error-text{
  color: $brand-danger;
}

.field_with_errors{
  .form-control{
    border: 1px solid $brand-danger;
  }
  label{
    color: $brand-danger;
  }
}
//***********************************************************

//***********************************************************
// DEVISE 
.shared-links{
  margin-top: 10px;
}
//***********************************************************

//***********************************************************
// FOOTER
#footer{
  background-color: $navbar-inverse-bg;
  color: $navbar-inverse-color;
  height: 100px;
  margin-top: -100px;  
  letter-spacing: 1px;
  
  .footer-first-row{
    padding-top: 20px;
  }
}
//***********************************************************
//***********************************************************
// NAVBAR - Add fixed navbar padding
body { padding-top: 70px;
}


//***********************************************************
//***********************************************************
// LIST

.list-container {
margin-left:20px;
margin-right:-25px;
}

.list-group {
  overflow: hidden;
  border-left: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  width:102%;

}

.list-heading{
  padding:10px;
  height:40px;
  border: solid grey 1px;
  background-color: grey;
  color:white;
  width:102%;
  margin-top:-22px;
}
.list-group-item:first-child, .list-group-item:last-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  overflow: hidden;
}
.list-group-item {
  border-left: 0px solid rgb(221, 221, 221);
  border-right: 0px solid rgb(221, 221, 221);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color:black;
}
.list-group-item > .show-menu {
  position: absolute;
  height: 100%; width:24px;
  top: 0px; right: 0px;
  background-color: rgba(51, 51, 51, 0.2);
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.list-group-item > .show-menu > span {
  position: absolute;
  top: 50%;


  margin-top: -7px;
  padding: 0px 5px;
}
.list-group-submenu {
  position: absolute;
  top: 0px;
  right: -88px;
  white-space: nowrap;
  list-style: none;
  padding-left: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  
}
.list-group-submenu .list-group-submenu-item {
  float: right;
  white-space: nowrap;
  display: block;

  padding: 10px 15px;
  margin-bottom: -1px;
  height: 60px;
  padding-top:20px;

  background-color: rgb(51, 51, 51);
  color: rgb(235, 235, 235);
}
.list-group-item.open {
  margin-left: -88px;
}
.list-group-item.open > .show-menu {
  right: 88px;
}
.list-group-item.open .list-group-submenu{
  right: 0px;
}
.list-group-submenu .list-group-submenu-item.primary {
  color: rgb(255, 255, 255);
  background-color: rgb(50, 118, 177);
}
.list-group-submenu .list-group-submenu-item.success {
  color: rgb(255, 255, 255);
  background-color: rgb(92, 184, 92);
}
.list-group-submenu .list-group-submenu-item.info {
  color: rgb(255, 255, 255);
  background-color: rgb(57, 179, 215);
}
.list-group-submenu .list-group-submenu-item.warning {
  color: rgb(255, 255, 255);
  background-color: rgb(240, 173, 78);
}
.list-group-submenu .list-group-submenu-item.danger {
  color: rgb(255, 255, 255);
  background-color: rgb(217, 83, 79);
}


//***********************************************************
//***********************************************************
// NAVBAR - Twitch


@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

body{
  padding-left:0px;
  padding-right:0px;

}

.navbar-brand{
        margin-left:50px;

}

.navbar-twitch {
  position: fixed;
  top: 50px;
  left: 0px;
  width: 50px;
  height: 100%;
  border-radius: 0px;
  border: 0px;
    z-index: 1;
}
.navbar-twitch.open {
  width: 180px;
}
.navbar-twitch > .container {
  padding: 0px;
  width: 100%;
}
.navbar-twitch .navbar-header,
.navbar-twitch .navbar-brand {
  float: none;
  display: block;
  width: 100%;
  margin: 0px;
}
.navbar-twitch .navbar-brand {
    height: 50px;   
}
.navbar-twitch > .container .navbar-brand {
  padding: 0px;
  margin: 0px;

}
.navbar-twitch > .container .navbar-brand > .small-nav {
  display: block;
}
.navbar-twitch > .container .navbar-brand > .small-nav > span.logo, 
.navbar-twitch.open > .container .navbar-brand > .full-nav {
    display: block;
  font-weight: bold;
  padding: 15px 2px 15px 3px;
  font-size: 18pt;
}
.navbar-twitch.open > .container .navbar-brand {
  width: 100%;
  padding: 15px 15px 60px;
  text-align: center;
}
.navbar-twitch.navbar-inverse > .container .navbar-brand > .small-nav > span.logo {
  /*color: rgb(255, 255, 255);*/
}
.navbar-twitch .navbar-nav > li {
  float: none;
}
.navbar-twitch > .container .full-nav {
  display: none;
}
.navbar-twitch.open > .container .full-nav {
  display: block;
}
.navbar-twitch.open > .container .small-nav {
  display: none;
}
.navbar-twitch .navbar-collapse {
  padding: 0px;
}
.navbar-twitch .navbar-nav {
  float: none;
  margin: 0px;
}
.navbar-twitch .navbar-nav > li > a {
  padding: 0px;
}
.navbar-twitch .navbar-nav > li > a > span {
  display: block;
  font-size: 10pt;
  padding: 13px 15px 13px 12px;
}
.navbar-twitch .tooltip,
.navbar-twitch .tooltip .tooltip-inner {
  max-width: auto;
  white-space:nowrap;
}
.navbar-twitch-toggle {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index:1050;
}
.navbar-twitch ~ .navbar-twitch-toggle > .nav-open {
  display: inline-block;
}
.navbar-twitch ~ .navbar-twitch-toggle > .nav-close {
  display: none;
}
.navbar-twitch.open ~ .navbar-twitch-toggle {
  left: 15px;
}
.navbar-twitch.open ~ .navbar-twitch-toggle > .nav-open {
  display: none;
}
.navbar-twitch.open ~ .navbar-twitch-toggle > .nav-close {
  display: inline-block;
}


.btn-purple,
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:Active {
    color: rgb(255, 255, 255);
    background-color: rgb(86, 61, 124);
    border-color: rgb(111, 84, 153);
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:Active {
    background-color: rgb(111, 84, 153);
    border-color: rgb(86, 61, 124);   
}

.navbar {
    background-image: none !important;
}
.navbar-purple {
    background-color: rgb(86, 61, 124);
    border-color: rgb(111, 84, 153);
}
.navbar-purple .navbar-brand, 
.navbar-purple .navbar-nav > li > a, 
.navbar-purple .navbar-brand:hover, 
.navbar-purple .navbar-nav > li > a:hover, 
.navbar-purple .navbar-brand:focus, 
.navbar-purple .navbar-nav > li > a:focus {
    color: rgb(205, 191, 227);;
}
.navbar-purple .navbar-brand:hover, 
.navbar-purple .navbar-nav > li > a:hover, 
.navbar-purple .navbar-brand:focus, 
.navbar-purple .navbar-nav > li > a:focus,
.navbar-purple .navbar-nav > .active > a, 
.navbar-purple .navbar-nav > .active > a:hover, 
.navbar-purple .navbar-nav > .active > a:focus {
    background-color: rgb(111, 84, 153);
    color: rgb(255, 255, 255);
}



.stream_brand{
  width: 75px;
  height: 75px;
  margin: 2px;
  background-color: grey;
  float: left;
}

.modal{
  
  z-index:1070;
}


#titlewrap{
margin-left:0px;
margin-right:0px;
text-align:center;
color:white;
}

.titlebuttons{ 
  max-width: 350px;
  min-width: 250px;
  margin:2px;
}

.home_image{
  z-index: -300;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  home_image {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


.home_page{
  margin-top:80px;
}

.feedback{
  
  height:300px;
}

.jumbotron{
 background-color: rgba(0, 0, 0, 0.8); // black with opacity 0.1
}