.plans{
  text-align: center;
}
.featured{
  -webkit-transform:scale(1.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
}
.plan{
  background-color: #111575;
  color: black;
}
.plan.featured-plan{
  background-color: #CCAB00;
  color: black;
}
.plan h2{
  color: black;
}