<p>Welcome <%= @user.email.downcase %>!</p>

<p>You need to confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>
<br/>
<p>Thanks for joining Hooha, if you need any help, feel free to get in touch with me personally</p>
<p>
 Thank you,<br/><br/>
  Ben Hanna<br/>
  CEO - Hooha<br/>
  <%= link_to "www.hooha.com", "http://hooha.com.au" %>
</p>
