<div id="footer">
  <div class="container">
    <div class="row footer-first-row">
      
      <div class="col-xs-12 centered">
        <p><small>&copy; 2014 - Hooha</small></p>
      </div>
    
    </div>
  </div>
</div>

