<% render 'layouts/dashboard_top'%>
<div class="col-sm-6">
<h1>New Account</h1>

<%= render 'form' %>

<%= link_to 'Cancel', accounts_path %>
</div>
<div class="col-sm-6">
</div>
<% render 'layouts/dashboard_bottom'%>